@import "./courses/python.css";
@import "./courses/javascript.css";
@import "./courses/html.css";
@import "./courses/css.css";
@import "./courses/react.css";
@import "./courses/nodejs.css";
@import "./courses/dsa.css";
@import "./courses/hosting.css";
@import "./courses/django.css";
@import "./courses/excel.css";
@import "./courses/spss.css";
@import "./courses/sql.css";
@import "./courses/networking.css";
@import "./courses/mongodb.css";
@import "./courses/angularjs.css";
